.hero-section{
    padding: 80px 0;
}

.hero{
    display: flex;
}
.hero-img{
    margin-left: 30px;
}
.hero__content{
    width: 510px;
}
.hero-title{
    color: var(--White, #FFF);
    /* H1 - Work Sans */
    font-family: Work Sans , sans-serif;
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 73.7px */
    text-transform: capitalize;
}
.hero-text{
    color: var(--White, #FFF);
    padding-bottom: 40px;
    /* Body Text- Work Sans */
    font-family: Work Sans , sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize;
}
.hero-button{
    color: #FFF;
    margin-top: 30px;
    padding: 20px 50px 20px 62px;
    font-family: Work Sans , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    background-color: #A259FF;
    border-radius: 20px;
    border: 2px solid transparent;
    background-image: url(../images/hero/RocketLaunch.svg);
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 19px;
    transition: all 0.5s ease;
}
.hero-button:hover{
    color: #A259FF;
    background: transparent;
    border: 2px solid #A259FF;
    background-image: url(../images/hero/RocketLaunch\ -\ hover.svg);
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 19px;
}
.hero-static{
    display: flex;
    margin-top: 40px;
}
.total + .total{
    margin-left: 30px;
}
.prices{
    color: var(--White, #FFF);
    
    /* H4 - Space Mono */
    font-family: Space Mono , monospace;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    text-transform: capitalize;
}
.price-text{
    color: var(--White, #FFF);
    font-family: Work Sans , sans-serif;
    font-size: 23.99px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.384px */
    text-transform: capitalize;
}